<div class="banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(200,200,200,0.4),rgba(34,50,100,0.4)), url(https://images.unsplash.com/photo-1568626913161-c4ac1e5ae186?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80)">
  <div class="text-center">
    <h1>TILO</h1>
    <p>TIENDA NATURAL</p>
  </div>
</div>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @divisions.each do |division| %>
<%= link_to division.title, division_path(division)  %>
<% end %>
